<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      GamesActu
      <button
        class="navbar-toggler"
        type="button"
        (click)="inlineNav.toggle()"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarText"
        mdbCollapse
        #inlineNav="mdbCollapse"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="articles-items">Actus du moment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="back-office">Dashboard Administrateur</a>
          </li>
        </ul>
        <span class="navbar-text" *ngIf="!userService.getLogin()"> 
            <a routerLink="login">
                <button type="button" class="btn btn-outline-danger btn-rounded">
                    Connexion
                </button>
            </a>    
        </span>
        <span>
            <a *ngIf="userService.getLogin()" (click)="logout()">
                <button type="button" class="btn btn-outline-danger btn-rounded">
                    Déconnexion
                </button>
            </a>
        </span>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
